@font-face {
	font-family: 'cadet_boldbold';
	src: url(/assets/fonts/cadet-bold-webfont.woff2) format('woff2'),
	url(/assets/fonts/cadet-bold-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}