@font-face {
	font-family: 'cadetregular';
	src: url(/assets/fonts/cadet-regular-webfont.woff2) format('woff2'),
	url(/assets/fonts/cadet-regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}