@font-face {
	font-family: 'cadet_boldbold';
	src: url(/assets/fonts/cadet-bold-webfont.woff2?h=8e58a14aa759eff14e57d1b3f0dca5a6) format('woff2'),
	url(/assets/fonts/cadet-bold-webfont.woff?h=8e58a14aa759eff14e57d1b3f0dca5a6) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}